* {
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.products-form {
    max-width: 600px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product {
    font-weight: 500;
}

.error-border {
    border: 2px solid red;
}
.error-text {
    description: red;
    font-weight: 500;
}

.link {
    text-decoration: none;
    font-weight: 500;
}


#delete-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-button {
    max-width: 200px;
}

#products-data {
    display: block;
}

.margin-twenty {
    margin-top: 20px;
}

.margin-thirty {
    margin-top: 30px;
}

.margin-ten {
    margin-top: 10px;
}

